<html ng-app="fazioApp">
<head>
    <meta charset="UTF-8">
    <title> Fazio Login </title>
    <script type="text/javascript" src="../js/lib/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.js"></script>
    <script type="text/javascript" src="../js/config/angular-route.min.js"></script>

    <script type="text/javascript" src="../js/controller/ctrl-login.js"></script>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/fazio.css"/>
</head>
<body class="black loaded" ng-controller="LoginController">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="http://portal.forrester.sensedia.com/api-portal/sites/default/files/fazio-com.png"
                             alt="" class="responsive-img valign profile-image-login">
                        <p class="center login-form-text"> Login </p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input type="text"/>
                        <label>Username</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input type="password"/>
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light grey darken-3 col s12" type="submit" ng-click="submitLogin()">
                        Entrar <i class="material-icons right"> send </i></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>